<div
  class="main-container"
  #aboutSection
  [ngClass]="{ 'fade-in-up show': show }"
>
  <!-- Skills Container -->

  <div class="skills-container">
    <span class="skill-title">Skills</span>
    <div class="skill-box">
      <!-- First row of 9 skills -->
      <div class="skill-logo-group">
        <div class="img" title="HTML"></div>
        <div class="pic" title="CSS"></div>
        <div class="img-2" title="JavaScript"></div>
        <div class="img-3" title="TypeScript"></div>
        <div class="pic-2" title="NodeJs"></div>
        <div class="img-4" title="AngularJs"></div>
        <div class="pic-3" title="C#"></div>
        <div class="img-5" title="Java"></div>
        <div class="img-6" title="ASP.Net"></div>
      </div>
      <!-- Second row of 7 skills -->
      <div class="skill-logo-group">
        <div class="img-7" title="MySql"></div>
        <div class="img-8" title="MongoDB"></div>
        <div class="img-9" title="AWS"></div>
        <div class="img-10" title="Github"></div>
        <div class="img-11" title="Figma"></div>
        <div class="img-12" title="Canva"></div>
      </div>
    </div>
  </div>

  <!-- Project Container -->
  <div class="project-container">
    <div class="project-image" title="overview"></div>
    <div class="project-title">Projects</div>
    <a
      href="https://github.com/nkl0zip"
      target="_blank"
      class="redirect"
      title="Go to Projects"
    >
      <img
        src="/assets/images/shareicon.png"
        alt="Resume"
        class="resume-icon"
      />
    </a>
  </div>
</div>
