<div class="main-container">
  <!-- Profile Picture Box -->
  <div class="intro-container">
    <div class="profile">
      <div class="profile-img"></div>
      <div class="intro-content">
        <span class="subtitle">FullStack Developer</span>
        <h1 class="name">Nikhil <br />Kumar Patra</h1>
        <p class="description">
          Hey, I am a FullStack Developer. Let’s connect
        </p>
      </div>
      <a
        href="/assets/Nikhil_Resume.pdf"
        target="_blank"
        class="resume-link"
        title="View Resume"
      >
        <img
          src="/assets/images/shareicon.png"
          alt="Resume"
          class="resume-icon"
        />
      </a>
    </div>
  </div>

  <!-- Summar Box-->
  <div class="summary-container">
    <div class="self-summary-container">
      <span class="self-summary-text">Self-Summary</span>
    </div>
    <div class="description-container">
      <span class="description-text"
        >I'm a passionate Full Stack Developer based in Kolkata, skilled in
        building high-performance web applications using React.js, Next.js,
        Node.js, Express.js, and MongoDB. With hands-on experience in solving
        400+ DSA problems, I love turning complex problems into scalable,
        user-friendly solutions. My projects range from AI-powered tools to
        award-winning UI designs, and I’ve gained recognitions in hackathons and
        competitions. Let’s build something impactful together!</span
      >
    </div>
  </div>
</div>
