<div class="main-container">
  <app-projects-left-card
    [featuredLabel]="'Featured Project'"
    [title]="'Movie Recommendation Site'"
    [description]="
      'A responsive frontend web application built in an inter-university competition to recommend top movies and shows with unique UI/UX. Explore titles with details and related recommendations. Visit and share feedback!'
    "
    [imageUrl]="'/assets/images/project1.png'"
    [projectLink]="'https://moviefy-three.vercel.app/'"
  >
  </app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Featured Project'"
    [title]="'Sensitive Information Redaction'"
    [description]="
      'AI-Powered Sensitive Information Redaction is a MERN-stack web app integrated with Python, OpenCV, and EasyOCR to detect and automatically redact sensitive data from images. It leverages OCR and image processing for accurate privacy protection, with a RESTful API ensuring seamless, real-time operation.'
    "
    [imageUrl]="'/assets/images/project2.png'"
    [projectLink]="'https://github.com/nkl0zip/ZPLUS'"
  >
  </app-projects-right-card>

  <app-projects-left-card
    [featuredLabel]="'Open Source'"
    [title]="'Expense Tracking Website'"
    [description]="
      'Expense Tracker is a full-stack app built with React, Express.js, and MongoDB, secured via Google Authentication. Authenticated users can quickly log and categorize expenses, attach notes/receipts, and view a smart dashboard with charts, trends, and budget insights. Real-time updates and clean UI make it easy to spot spending patterns and make better financial decisions.'
    "
    [imageUrl]="'/assets/images/project3.jpg'"
    [projectLink]="'https://regal-kangaroo-2cab09.netlify.app/'"
  ></app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Internship'"
    [title]="'Course-Selling Website: Tutorbase'"
    [description]="
      'TutorBase is a course-selling platform built with Angular.js and C# frameworks, designed to aggregate and sell courses from multiple sources. Users can browse, purchase, and view detailed course information through an interactive, user-friendly interface. An integrated admin portal enables easy posting and management of new courses, ensuring smooth operations and dynamic content updates.'
    "
    [imageUrl]="'/assets/images/project4.png'"
    [projectLink]="'https://tutor.thetechieindians.in/'"
  >
  </app-projects-right-card>
</div>
