<div class="main-container">
  <app-projects-left-card
    [featuredLabel]="'Featured Project'"
    [title]="'Movie Recommendation Site'"
    [description]="
      'A responsive frontend web application built in an inter-university competition to recommend top movies and shows with unique UI/UX. Explore titles with details and related recommendations. Visit and share feedback!'
    "
    [imageUrl]="'/assets/images/project1.png'"
    [projectLink]="'https://moviefy-three.vercel.app/'"
  >
  </app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Featured Project'"
    [title]="'Sensitive Information Redaction'"
    [description]="
      'AI-Powered Sensitive Information Redaction is a MERN-stack web app integrated with Python, OpenCV, and EasyOCR to detect and automatically redact sensitive data from images. It leverages OCR and image processing for accurate privacy protection, with a RESTful API ensuring seamless, real-time operation.'
    "
    [imageUrl]="'/assets/images/project2.png'"
    [projectLink]="'https://github.com/nkl0zip/ZPLUS'"
  >
  </app-projects-right-card>

  <app-projects-left-card
    [featuredLabel]="'Open Source'"
    [title]="'Expense Tracking Website'"
    [description]="
      'Expense Tracker is a full-stack app built with React, Express.js, and MongoDB, secured via Google Authentication. Authenticated users can quickly log and categorize expenses, attach notes/receipts, and view a smart dashboard with charts, trends, and budget insights. Real-time updates and clean UI make it easy to spot spending patterns and make better financial decisions.'
    "
    [imageUrl]="'/assets/images/project3.jpg'"
    [projectLink]="'https://regal-kangaroo-2cab09.netlify.app/'"
  ></app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Internship'"
    [title]="'Course-Selling Website: Tutorbase'"
    [description]="
      'TutorBase is a course-selling platform built with Angular.js and C# frameworks, designed to aggregate and sell courses from multiple sources. Users can browse, purchase, and view detailed course information through an interactive, user-friendly interface. An integrated admin portal enables easy posting and management of new courses, ensuring smooth operations and dynamic content updates.'
    "
    [imageUrl]="'/assets/images/project4.png'"
    [projectLink]="'https://tutor.thetechieindians.in/'"
  >
  </app-projects-right-card>

  <app-projects-left-card
    [featuredLabel]="'Personal Project'"
    [title]="'Cherry Blossom - Cafe'"
    [description]="
      'CherryBlossom is a multi-page café website built with React.js, featuring state management for smooth data handling and reusable components for consistent design. It offers an interactive, responsive experience where users can explore the menu, learn about the café, and make reservations with ease.'
    "
    [imageUrl]="'/assets/images/project5.png'"
    [projectLink]="'https://github.com/nkl0zip/CherryBlossom'"
  ></app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Personal Project'"
    [title]="'NotesMakr: Notes Making Website'"
    [description]="
      'NotesMakr is a notes-making website built with EJS and JavaScript, featuring Auth0.js for secure authentication and MongoDB for storing notes and user data, providing a simple and secure way to manage personal notes online.'
    "
    [imageUrl]="'/assets/images/project6.png'"
    [projectLink]="'https://github.com/nkl0zip/NotesMakr'"
  >
  </app-projects-right-card>

  <app-projects-left-card
    [featuredLabel]="'Demo Project'"
    [title]="'Resources'"
    [description]="
      'Resources is a demo product showcase website built with React.js, featuring multiple sections and reusable components, and using Axios to fetch and display user data for a dynamic, brand-focused experience.'
    "
    [imageUrl]="'/assets/images/project7.png'"
    [projectLink]="'https://resources-sepia.vercel.app/'"
  ></app-projects-left-card>

  <app-projects-right-card
    [featuredLabel]="'Course Work'"
    [title]="'Three Address Code'"
    [description]="
      'Three Address Code (TAC) is an intermediate representation in compiler design that expresses operations as simple instructions with at most three operands, two source operands and one destination. It facilitates program optimization and serves as a bridge between high-level source code and low-level machine code during compilation.'
    "
    [imageUrl]="'/assets/images/project8.png'"
    [projectLink]="'https://three-address-code.vercel.app/'"
  >
  </app-projects-right-card>
</div>
