<div
  class="main-container"
  #detailSection
  [ngClass]="{ 'fade-in-up show': show }"
>
  <!-- Education Container -->
  <div class="education-container">
    <div class="education-title">Education</div>
    <div class="school-one">
      <div class="school-logo">
        <div class="logo"></div>
      </div>
      <div class="school-details">
        <span class="degree-title"
          >B.Tech in Computer Science & Engineering &nbsp; &nbsp; &nbsp; &nbsp;
          2022 - 2026</span
        >
        <span class="degree-details">Amity University, Kolkata</span>
        <span class="degree-details">GPA: 7.59</span>
      </div>
    </div>
  </div>

  <!-- Socials Container-->
  <div class="socials-container">
    <span class="education-title">Socials</span>
    <div class="socials-group">
      <a
        href="https://www.linkedin.com/in/nikhil-patra-b81906244"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="img-1" title="LinkedIn"></div>
      </a>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=nikhilkumarpatra36@gmail.com
"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="img-2" title="Email"></div>
      </a>
      <a
        href="https://github.com/nkl0zip"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="img-3" title="Github"></div>
      </a>
      <a
        href="https://www.instagram.com/_nklllllll/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="img-4" title="Instagram"></div>
      </a>
      <a
        href="https://leetcode.com/u/nkl_zip"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="img-5" title="Leetcode"></div>
      </a>
    </div>
  </div>

  <!-- Connect Container-->
  <div class="connect-container">
    <span class="lets-text">Let's</span>
    <span class="connect-text">Connect</span>
  </div>
</div>
