<div class="main-container">
  <div class="wrapper">
    <div class="img"></div>
    <div class="img-2"></div>
  </div>

  <div class="group">
    <span class="text">Nikhil | Full-Stack Developer</span>
    <span class="text-2">My Projects</span>
    <span class="text-3">
      Thankyou for visiting my website. I would be happy to connect with you.
      Feel free to give feedback on my projects!
    </span>
    <div
      class="section"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="text-4">Contact</span>
    </div>
  </div>

  <div class="group-2">
    <div class="img-3"></div>
    <div class="img-4"></div>
  </div>
</div>
