<div class="main-container">
  <div class="group">
    <span class="text">Nikhil | Full-Stack Developer</span>
    <span class="text-2">My Gallery</span>
    <span class="text-3">
      Thankyou for visiting my website. I would be happy to connect with you.
      Feel free to give feedback on my website!
    </span>
    <div
      class="section"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="text-4">Contact</span>
    </div>
  </div>
</div>
